<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Thunderbird Email Stats</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" href="#">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Thunderbird Email Stats</a>
</nav>

<main role="main" class="container">


    <form class="form-inline">
        <label for="pwd" class="mr-sm-2">Path to local dir with saved emails:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter local path" id="pwd">
        <label for="email" class="mr-sm-2">Your email address:</label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter email" id="email">
        <input type="button" id="submitButton" class="btn btn-primary mb-2" value="Show some stats!"/>
    </form>
    <div class="row">
        <div id="messagesDiv"></div>
    </div>

    <div class="row">
        <div class="col">
            <canvas id="dailyStats"></canvas>
        </div>
        <div class="col">
            <canvas id="monthlyStats"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="yearlyStats"></canvas>
        </div>
        <div class="col">
            <canvas id="hourlyStats"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="sentToStats"></canvas>
        </div>
        <div class="col">
            <canvas id="receivedFromStats"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="daysMostSentStats"></canvas>
        </div>
        <div class="col">
            <canvas id="daysMostReceivedStats"></canvas>
        </div>
    </div>

</main>
<!-- /.container -->
<script type="text/javascript" th:src="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">



    jQuery( document ).ready(function() {

        jQuery("#submitButton").on("click", function () {
            displayMessage("Initializing email stats", "info");
            initStats();
        });

    });

</script>
</body>
</html>